[user]
	name = Francesco Ferraioli
	email = francesco.ferraioli@outlook.com
[color]
	ui = true
[pager]
	branch = false
[alias]
	a = add
	aa = add --all
	amend = commit --amend --no-edit
	c = commit
	cm = commit --message
	s = status --short
	st = status
	b = branch
	co = checkout
	cob = checkout -b
	cp = cherry-pick
	d = diff
	ds = diff --staged
	discard = checkout --
	fixup = commit --fixup
	ls = diff-tree --no-commit-id --name-only -r
	rs = reset --soft
	rh = reset --hard
	uncommit = reset --soft HEAD^
	unstage = reset HEAD
	wipe = reset --hard HEAD
	patch = add --patch
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset' --abbrev-commit
	l1 = !git l -n 1
	l2 = !git l -n 2
	l3 = !git l -n 3
	l4 = !git l -n 4
	l5 = !git l -n 5
	l10 = !git l -n 10
	l15 = !git l -n 15
	l20 = !git l -n 20
	l25 = !git l -n 25
	ll = !git l -n 10
	wip = commit -m 'WIP'
	p = pull
	ps = push
	psfl = push --force-with-lease
	fmar = !git fetch && git rebase origin/master
	r = rebase
	showv = !git showtool
	dv = difftool --no-prompt
	dsv = difftool --no-prompt --staged
	tagcommit = rev-list -n 1
	pm = "!f() { prunemerged; }; f"
	sm = "!f() { showmerged; }; f"
	dm = "!f() { deletemerged; }; f"
	psu = "!f() { pushu; }; f"
	cbr = "!f() { commitbr; }; f"
	cobt = "!f () { checkoutbranchtitle \"$1\"; }; f"
	showtool = "!f () { rev=${1:-HEAD}; git difftool --no-prompt $rev~1 $rev; }; f $1"
[core]
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[help]
	autocorrect = 1
[push]
	default = current
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[rebase]
	autosquash = true
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = /usr/local/bin/diffmerge \"$LOCAL\" \"$REMOTE\"
