format = """\ 
$username\
$directory\
$git_branch\
$git_state\
$git_status\
$line_break\
$character\
"""

# To allow ahead/behind status to be shown for canva as it's a bit slow
command_timeout = 2000

[directory]
truncate_to_repo = false
truncation_length = 0

[git_status]
format = '([\[$all_status$ahead_behind | \]]($style) )'
conflicted = " | ="
ahead = " | ⇡${count}"
behind = " | ⇣${count}"
diverged = " | ⇕ ⇡${ahead_count} ⇣${behind_count}"
untracked = " | ?"
stashed = " | @${count}"
modified = " | !"
staged = " | +"
renamed = " | »"
deleted = " | ✘"
